<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Einkaufsliste: {{ list.name }}</title>
</head>
<body>
    <ul>
        {% for item in items %}
        <li>{{item}}</li>
        {% endfor %}
        <li>
            <form action="{% url 'add_list' list_id %}" method="POST">
            {% csrf_token %}
            <input type="text" name="add_item">
            <input type="submit" value="Neuer Artikel">
        </form>
        </li>
    </ul>
</body>
</html>