<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping</title>
</head>
<body>
<h1>Einkaufslisten</h1>
    <ul>
        {% for list in lists %}
        <li><a href="{% url 'list' list.id %}">{{list.name}}</a></li>
        {% endfor %}
        <li>
            <form action="{% url 'add_list' %}" method="post">
            {% csrf_token %}
            <input type="text" name="list_name">
            <input type="submit" value="Neue Liste">
            </form>
        </li>
    </ul>
</body>
</html>